<%- include("./partials/header") %>

<div class="nav">

    <!-- Button for deleting chatroom -->
    <% if (roomID !== parseInt(process.env.GLOBAL_CREDENTIALS)) { %>
        <div class="delete-room form">
            <form action="/room/delete" method="post">
                <button type="submit" class="delete-room-btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    <% } %>
    
    <!-- logout button -->
    <div class="logout form">
        <form action="/auth/logout" method="get">
            <button type="submit" class="delete-room-btn">
                <div class="exit-door"></div>
            </button>
        </form>
    </div>
</div>

<h1 class="room-header">Chatroom <%= roomID %></h1>
<h3 class="room-subheader">User: <%= userName %></h1>


<div class="messages-container" id="messages-container">
    <% if (locals.messages && locals.messages[0].length > 0) { %>
        <% messages.forEach(messagesOnSameDay => { %>
            <div class="date-container">
                <p><%= messagesOnSameDay[0].creationDate %></p>
            </div>
            <% messagesOnSameDay.forEach(message => { %>
                <% if (message.userName === userName) { %>
                    <div class="message-box messages-self">
                <% } else { %>
                    <div class="message-box">
                <% } %>
                    <div class="message-header">
                        <p class="message-username"><%= message.userName %> </p>
                        
                        <% if (message.userName === userName) { %>
                            <form action="/room/delete-message" method="post">
                                <!-- Trash-Symbol Button -->
                                <input type="hidden" name="messageID" value="<%= message.messageID %>">
                                <button type="submit" class="delete-message-btn">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        <% } %>
                        
                    </div>

                    <div class="message-body">
                        <p class="message-text"><%= message.text %></p>
                    </div>

                    <div class="message-footer">
                        <p class="message-time"><%= message.creationTime %></p>
                    </div>

                </div>
            <% }) %>
        <% }) %>
    <% } %>
</div>

<div class="send-message-container">
    <% if (locals.messagesError) { %>
        <p class="error-text"><%= messagesError %></p>
    <% } %>
    <form action="/room" method="post">
        <div class="send-message-form"></div>
            <input type="text" name="message" id="message" class="text-input" placeholder="Enter Message" required>
            <input type="submit" value="Send" class="btn">
        </div>
    </form>
</div>

<script src="./js/room.js"></script>

<%- include("./partials/footer") %>